node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Not sure why this is needed for local developmen just yet.
# staticwebapp.config.json
__azurite_db_blob__.json
__blobstorage__
__queuestorage__